<!DOCTYPE html>
<html lang="en">
  <body>
        <p>
          Hi ,
        </p>
          <p>Contact From is submitted</p>
          <table border="1">
              <tr>
                  <th>NAME</th>
                  <td>{{ contact-name }}</td>
              </tr>
              <tr>
                  <th>PHONE NUMBER</th>
                  <td>{{ contact-phone }}</td>
              </tr>
              <tr>
                  <th>Email</th>
                  <td>{{ contact-email }}</td>
              </tr>
              <tr>
                  <th>Purpose</th>
                  <td>{{ subject }}</td>
              </tr>
              <tr>
                  <th>Message</th>
                  <td>{{ contact-message }}</td>
              </tr>
          </table>
  </body>
</html>