<!DOCTYPE html>
<html lang="en">
  <body>
        <p>
          Dear {{ fullname }}, <br /><br/>
        </p>
        <p>I would like to take this opportunity to thank you for contacting us through our contact form.I am overjoyed to be able to communicate with you.
        </p>
        <p>
          I've got your message, and I'll get back to you shortly. I will make every effort to give you the information or assistance you require as soon as possible.
        </p>
        <p>Gratitude for reaching out to me again.</p><br/>
        <p>Thanks and Regards,<br/>Shanath Kumar Vemula,<br/>Ph.no: +91 9908564639.</p>

  </body>
</html>